In [3]:
# Load the "autoreload" extension
#%load_ext autoreload

#reload extension
%reload_ext autoreload

# always reload modules marked with "%aimport"
%autoreload 1

#Import all the necessary packages to query from the BigQuery Rest API
import os
import sys
from google.cloud import bigquery

#add the 'python' directory as one where we can import modules
py_dir = os.path.join(os.getcwd(), 'python')
sys.path.append(py_dir)

# import my method from the source code
from python.get_info import get_type
from python.transaction import get_transaction_dates, get_true_transactions, get_false_transactions
from python.create_features import get_true_features, get_false_features
from python.create_dataset import create_dataset

#Import all necessary packages for visualization and transformation of the data
import pandas as pd
import numpy as np

In [2]:
#access BigQuery with your personal API key
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="api_key.json"
client = bigquery.Client()

### CREATE TRAINING DATA

To create our training dataset we will be using the following features from the __totals__ column we examined in the last dataset:

- __visits__ - this represents the number of sessions
- __hits__ - total number of interactions within a session
- __pageviews__ - total number of pageviews in a session
- __bounces__ - total bounces. These trigger in the Analytics server if only a single interaction is made on the whole website
- __sessionQuality__ - an estimate of how close a particular estimate was close to transacting from 1 to 100 with 1 being the lowest session quality and 100 being close to transacting
- __timeOnSite__ - total time of the session in seconds

For this next step, I will be using functions to call each query. We need to set up the start and end dates as well as indicate whether this dataset will be a _train_ or _test_ set.

In [4]:
START_DATE = '20170701'
END_DATE = '20170731'
data_type = 'train'

We will be performing the following steps (please note each step except for the final step will create a temporary table in your BigQuery project. You can view the results of your table there):

1. Getting the transaction dates where the earliest known transaction of each user occurs
2. Getting and creating the features by visitor id and by each user's visit date from the transaction date. Because each feature is recorded for each session, we need to create a training data set that aggregates all these features. We will be summing all features except for sessionQuality. We will average the session quality by day and round to two decimal points. We need to separately query visitors who made purchases from visitors who didn't make purchases
3. Breaking out each feature by difference in days and weeks prior to the transaction date. Again, we need to separately query visitors who made purchases from visitors who didn't make purchases. For users that made no transactions, we will pick 5 random days as our false 'transaction' dates and remove any duplicate visitors who may have made purchases on other days and none on others. We wil then break out the features in the following format:
    - day0 - behavior on site on the day of the first transaction
    - day1 - behavior on site 1 day before the first transaction
    - day2 - behavior on site 2 days before the first transaction
    - day3 - behavior on site 3 days before the first transaction
    - day4_6 - behavior on site 4-6 days before the first transaction
    - w2 - behavior on site 7-14 days before the first transaction (or behavior within two weeks before the first transaction)
4. Combining the temporary true feature and false feature tables in step 3 and labeling them (1 for purchase, 0 for no purchase) to create our training dataset.    

For further documentation, go to the 'python/' folder of this project and view all queries.

In [4]:
query0 = get_transaction_dates(START_DATE, END_DATE, data_type)
query1 = get_true_transactions(START_DATE, END_DATE, data_type)
query2 = get_false_transactions(START_DATE, END_DATE, data_type)
query3 = get_true_features(data_type)
query4 = get_false_features(data_type)
final_query = create_dataset(data_type)

For brevity, we will combine each query and simultaneously create our temporary tables for the training dataset.

In [5]:
query = query0+query1+query2+query3+query4
client.query(query)

The final query will not create a temporary table. Instead we will transform the results into a dataframe that we can analyze, preprocess, and model in the next notebooks.

In [7]:
training_data = client.query(final_query).to_dataframe()

In [8]:
#Create a new directory to save the data
if os.path.exists('data'):
    print('This path exists.')
else:
    os.mkdir('data')

This path exists.

In [5]:
#save final training dataset into a csv format and save to the data folder
#training_data.to_csv(f'data/train_{START_DATE}_to_{END_DATE}')
#read training data into jupyter notebook
train = pd.read_csv(f'data/train_{START_DATE}_to_{END_DATE}', index_col=0)

### CREATE VALIDATION DATA

In order to accurately see if our model works we will pick a date interval completely independent of the train or test set and apply the same pipeline to create our validation set.

In [11]:
#pick any two week interval that is not the dates shown for the training data
START_DATE = '20170301'
END_DATE = '20170314'
data_type = 'validation'

In [12]:
query0 = get_transaction_dates(START_DATE, END_DATE, data_type)
query1 = get_true_transactions(START_DATE, END_DATE, data_type)
query2 = get_false_transactions(START_DATE, END_DATE, data_type)
query3 = get_true_features(data_type)
query4 = get_false_features(data_type)
final_query = create_dataset(data_type)

In [13]:
query = query0+query1+query2+query3+query4
client.query(query)

In [14]:
val_data = client.query(final_query).to_dataframe()

In [15]:
#save final validation dataset into a csv format
val_data.to_csv(f'data/val_{START_DATE}_to_{END_DATE}')
#read validation data into jupyter notebook
val = pd.read_csv(f'data/val_{START_DATE}_to_{END_DATE}', index_col=0)

### PREVIEW

Let's preview our final datasets! We will explore this more in the next notebook.

In [7]:
train.head()

,visitor_id,day0_time_on_site_seconds,day1_time_on_site_seconds,day2_time_on_site_seconds,day3_time_on_site_seconds,day4_6_time_on_site_seconds,w2_time_on_site_seconds,day0_hits,day1_hits,day2_hits,...,day3_sessions,day4_6_sessions,w2_sessions,day0_session_quality,day1_session_quality,day2_session_quality,day3_session_quality,day4_6_session_quality,w2_session_quality,label
0,3092487309701391768,570.0,NaN,1021.0,NaN,NaN,533.0,26.0,NaN,6.0,...,NaN,NaN,2.0,60.0,NaN,3.0,NaN,NaN,1.5,1
1,780253600713375371,705.0,NaN,NaN,NaN,NaN,1181.0,58.0,NaN,NaN,...,NaN,NaN,1.0,85.0,NaN,NaN,NaN,NaN,79.0,1
2,953713676730854570,373.0,NaN,NaN,NaN,NaN,736.0,42.0,NaN,NaN,...,NaN,NaN,1.0,76.0,NaN,NaN,NaN,NaN,65.0,1
3,238925310298938861,1919.0,NaN,NaN,NaN,14.0,691.0,74.0,NaN,NaN,...,NaN,1.0,2.0,79.0,NaN,NaN,NaN,1.0,43.5,1
4,1090774782213816251,2405.0,NaN,NaN,NaN,0.0,454.0,33.0,NaN,NaN,...,NaN,1.0,2.0,87.0,NaN,NaN,NaN,1.0,3.0,1

In [16]:
val.head()

,visitor_id,day0_time_on_site_seconds,day1_time_on_site_seconds,day2_time_on_site_seconds,day3_time_on_site_seconds,day4_6_time_on_site_seconds,w2_time_on_site_seconds,day0_hits,day1_hits,day2_hits,...,day3_sessions,day4_6_sessions,w2_sessions,day0_session_quality,day1_session_quality,day2_session_quality,day3_session_quality,day4_6_session_quality,w2_session_quality,label
0,2801499422088453532,139.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,1
1,9697633748020539508,284.0,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,1
2,49628940161747998,171.0,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,1
3,6056987916550791423,178.0,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,1
4,3996687359433676152,222.0,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,1